ia_servidor/mistral-7b-instruct-v0.2.Q3_K_M.gguf
ia_servidor/Mistral-7B-Instruct-v0.3-Q3_K_M.gguf
ia_servidor/Mistral-7B-Instruct-v0.3-Q4_K_M.gguf
ia_servidor/Mistral-7B-Instruct-v0.3-Q5_K_S.gguf
ia_servidor/mistralai_Magistral-Small-2506-IQ2_M.gguf
